<script>
  var payload = {{ results.payload_request_json|dump|safe }}
  var options = {
    pushed: {{ results._pushed }},
    onlyMonitorSigning: {{ onlyMonitorSigning|default('false') }},
    stateOpenedBefore: {{ stateOpenedBefore|default('false') }},
    statePushedBefore: {{ statePushedBefore|default('false') }}
  }
</script>

<div id="sign_vdom">
  <div v-if="false" class="text-center">
    <i class="d-block mb-3 mt-3 text-secondary h3 fas fa-circle-notch fa-spin"></i>
    <div class="text-muted">{{ 'WAIT_CONNECT_PLATFORM'|i18n }}</div>
  </div>
    
  <div v-cloak class="">
    <div class="row" v-if="resolved">
      <div class="col-12">
        <div class="alert h5 text-center px-4 py-4 mb-0" :class="{ 'alert-danger': rejected, 'alert-success': !rejected }" v-if="resolved">
          <span v-if="!returnUrl">
            <i class="fa fa-check"></i>
          </span>
          <div v-if="rejected">
            <div class="pb-1 h4 font-weight-bold">{{ 'REJECTED'|i18n }}</div>
            <div v-if="returnUrl" class="mt-3 h5">
              {{ 'REJECTED_NEXT_RETURN'|i18n({ appname: results.application_name }) }}
              <i class="fas fa-circle-notch fa-spin"></i>
            </div>
          </div>
          <div v-if="!rejected">
            <div class="pb-1 h4 font-weight-bold"><i class="fa fa-check"></i> {{ 'RESOLVED'|i18n }}</div>
            <div v-if="returnUrl" class="mt-3 h5">
              {{ 'RESOLVED_NEXT_RETURN'|i18n({ appname: results.application_name }) }}
              <i class="fas fa-circle-notch fa-spin"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div v-if="options.onlyMonitorSigning && !resolved">
      <div v-if="options.stateOpenedBefore || opened">
        {#
          Opened before. No need to show the QR, but if
          you want to show it again: of course (button).
        #}

        <div class="h5 text-center py-3 text-primary">
          <i class="far fa-envelope-open"></i>
          {{ 'PAYLOAD_ALREADY_OPENED'|i18n }}
        </div>
        <div class="text-center pb-3">
          <div class="">{{ 'NEED_QR_PAYLOAD_QR'|i18n({
            in_x_time_expire: results.payload_expires_at
          }) }}</div>
          <a href="{{ baselocation }}/sign/{{ uuid }}/qr" class="btn btn-warning mt-2">
            <i class="fas fa-qrcode"></i>
            {{ 'SHOW_QR'|i18n }}
          </a>
        </div>
      </div>
      <div v-if="options.statePushedBefore && !opened">
        {#
          Pushed, not forced to show the QR. Inform
          the user a push notification has been sent,
          optionally show the QR.
        #}

        <div class="h5 text-center py-3 text-primary">
          <i class="far fa-bell"></i>
          {{ 'PAYLOAD_PUSH_NOTIFICATION_SENT'|i18n }}
        </div>
        <div class="text-center pb-3">
          <div class="">{{ 'DIDNT_RECEIVE_PUSH_TEXT'|i18n }}</div>
          <a href="{{ baselocation }}/sign/{{ uuid }}/qr" class="btn btn-warning mt-2">
            <i class="fas fa-qrcode"></i>
            {{ 'SHOW_QR'|i18n }}
          </a>
        </div>
      </div>
      <hr class="mt-2 mb-0 pb-0 pt-0" />
    </div>

    <div class="row" v-if="!resolved">
      <div v-if="!options.onlyMonitorSigning" class="col-12 col-sm-4">
        <svg class="mb-2" viewBox="0 0 256 256" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          {% qr %}
            {{ baselocation }}/sign/{{ uuid }}/qr
          {% endqr %}
        </svg>
      </div>

      <div class="col-12 col-sm-8 pt-3" :class="{ 
        'offset-sm-2 text-center': options.onlyMonitorSigning
      }">
        <h1 class="h4 text-primary font-weight-normal" v-if="!opened && !resolved && !options.onlyMonitorSigning">
          <i class="d-none d-sm-inline-block fa fa-arrow-left"></i>
          {{ 'SCAN_WITH_APP'|i18n }}
        </h1>

        <h1 class="h4 text-primary font-weight-normal" v-if="opened && !resolved && !options.onlyMonitorSigning">
          <i class="fa fa-check"></i>
          {{ 'TITLE_TX_SCANNED'|i18n }}
        </h1>
        
        {% raw %}
          <div v-cloak>
            <div class="pt-2 pb-0 mb-0">
              {% endraw %}
                <div class="text-muted pb-3" v-if="!opened && !resolved">
                  <div v-if="!options.onlyMonitorSigning">
                    <i class="fas fa-circle-notch fa-spin"></i>
                    {% if results.payload_tx_type == 'Payment' %}
                      {{ 'WAIT_SCAN_QR_DETAILED'|i18n({ 
                        txtype: results.payload_tx_type|lower,
                        txdestination: results._destination
                      }) }}
                    {% else %}
                      {{ 'WAIT_SCAN_QR'|i18n({ 
                        txtype: results.payload_tx_type
                      }) }}
                    {% endif %}
                  </div>
                  <div v-if="options.onlyMonitorSigning">
                    <i class="fas fa-circle-notch fa-spin"></i>
                    {{ 'WAIT_OPEN'|i18n({ 
                      txtype: results.payload_tx_type
                    }) }}
                  </div>
                </div>
                <div class="text-muted" v-if="opened && !resolved">
                  <i class="fas fa-circle-notch fa-spin"></i>
                  {{ 'WAIT_FOR_RESOLVE'|i18n({ 
                    txtype: results.payload_tx_type
                  }) }}
                </div>
              {% raw %}
            </div>

            <div class="text-center">
              <button v-show="!showTx && !opened && !resolved" @click="showRawTx()" class="btn btn-sm btn-block btn-light">
                <i class="fas fa-stream"></i>
                {% endraw %}{{ 'SHOW_TRANSACTION'|i18n }}{% raw %}
              </button>
            </div>

            <transition name="fade">
              <div v-show="showTx">
                <div id="showTx" class="text-left">
                  <div class="row">
                    <div class="col-12">
                      <vue-json-pretty :data="payload" />
                    </div>
                    <div class="col-12 text-center">
                      <button onclick="swal.close()" class="btn btn-primary mt-2 btn-xs py-1">
                        &times; {% endraw %}{{ 'MODAL_CLOSE'|i18n }}{% raw %}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </transition>
          </div>

        {% endraw %}      
      </div>
    </div>
  </div>

  {% if mode == 'development' and 1 == 2 %}
    {% raw %}
      <div class="col-12 mb-0 mt-2 mx-0 px-0" style="opacity: .6; border-top: 1px solid #ccc; padding-top: 10px;">
        <div class="text-left">
          <h5 class="text-secondary"><span class="badge bg-dark text-white">DEV</span> WebSocket messages:</h5>
          <small>
            <code>
              <ul class="list-unstyled text-secondary">
                <li v-for="(m, i) in messages" v-bind:key="i">{{ m.data }}</li>
              </ul>
            </code>
          </small>
          <div class="input-group input-group-sm mb-0">
            <input class="form-control form-control-sm" v-on:keydown.enter="sendWebSocketMessage" type="text" v-model="message">
            <div class="input-group-append">
              <button class="btn btn-sm btn-primary" @click="sendWebSocketMessage">Send</button>
            </div>
          </div>
        </div>
      </div>
    {% endraw %}
  {% endif %}
</div>
