{% if results %}

  <div class="row pb-4">
    <div class="col-12 col-lg-8 offset-lg-2 pt-md-5 pb-md-5">
      <div class="card shadow">

        {# Title bar #}
        <div class="card-header bg-dark text-white py-2">
          <b class="font-200 py-0 my-0">
            <i class="fas fa-signature mr-1"></i>
            {{ 'TITLE_SIGNTX'|i18n }}
          </b>
        </div>

        {# App #}
        <div class="card-header bg-white text-dark">
          <div class="row">
            <div class="col-3 col-md-2">
              <img src="{{ results.application_icon_url }}" class="img-fluid rounded" />
            </div>
            <div class="col-9 col-md-10">
              <h1 class="h4 font-700">{{ results.application_name }}</h1>
              <span class="d-inline-block lh-120 text-muted">
                {{ results.application_description }}
              </span>
            </div>
          </div>
        </div>

        {% if mobile and (is.android or is.ios) %}
          {# If you see this page while on a mobile device,  #}
          <div class="alert-warning border-bottom-1 border-warning shadow-sm card-header text-center">
            {{ 'PAYLOAD_PAGE_FOR_MOBILE'|i18n }}

            {% if not params.deeplink %}
              {% if deeplinkRedirectLocation == hostname %}
                <a href="https://{{ baselocation }}/sign/{{ uuid }}/deeplink" class="mt-2 mb-2 btn btn-primary">
                  <i class="fad fa-rocket-launch"></i>
                  {{ 'OPEN_IN_XUMM'|i18n }}
                </a>
              {% else %}
                <script>
                  document.location.href = 'https://{{ deeplinkRedirectLocation }}/sign/{{ uuid }}'
                </script>
              {% endif %}
            {% endif %}
          </div>
        {% endif %}

        {# State & TX Details #}
        <div class="card-body">
          {% if mobile and (is.ios or is.android) %}
            {# 
              Mobile device. 
              Should be handled as deep link,
              so app is not installed, or the
              link is entered by copy/paste,
              and thus not handled by deeplink.
            #}
            {% if not params.deeplink %}
              <div class="text-muted text-center">
                {{ 'DASH_OR'|i18n }}
              </div>
            {% endif %}
            <div class="h5 text-center py-3">
              <i class="fas fa-mobile-alt"></i>
              {% if not params.deeplink %}
                {{ 'INSTALL_APP'|i18n }}
              {% else %}
                {{ 'PLEASE_INSTALL_APP'|i18n }}
              {% endif %}
            </div>
            <div class="text-center">
              {% if is.ios %}
                {% set download_link_displayed = true %}
                <a href="{{ appstorelinks.iOS }}" class="mb-4 btn btn-{{ 'primary' if params.deeplink else 'outline-primary' }} btn">
                  <i class="fab fa-app-store-ios"></i>
                  {{ 'GET_APP_IOS_MODAL_VISIT'|i18n }}
                </a>
              {% endif %}
              {% if is.android %}
                {% set download_link_displayed = true %}
                <a href="{{ appstorelinks.Android }}" class="mb-4 btn btn-{{ 'primary' if params.deeplink else 'outline-primary' }}">
                  <i class="fab fa-google-play"></i>
                  {{ 'GET_APP_ANDROID_MODAL_VISIT'|i18n }}
                </a>
              {% endif %}
            </div>
          {% elseif results._app_opened > 0 and not params.qr %}
            {% set stateOpenedBefore = true %}
            {% set onlyMonitorSigning = true %}
            {% include 'partials/sign-request-body-qr-vdom.html' %}
          {% elseif results._pushed > 0 and not params.qr %}
            {% set statePushedBefore = true %}
            {% set onlyMonitorSigning = true %}
            {% include 'partials/sign-request-body-qr-vdom.html' %}
          {% else %}

            {#
              The actual signing!
            #}
            {% include 'partials/sign-request-body-qr-vdom.html' %}
          {% endif %}
        </div>

        {% if not download_link_displayed %}
          {% include 'partials/sign-request-body-store-btn-footer.html' %}
        {% endif %}

      </div>
    </div>
  </div>

{% else %}
  {{ _error.render(title, body) }}
{% endif %}