{% block content %}
  <div class="content">
    <div class="text-center mb-5">
      <img class="mb-4" src="/xrplsign.png" alt="" width="100" height="100">
      <h1 class="h3 font-weight-normal">XRPL Signing Platform</h1>
      <h6 class="mb-4"><small class="text-secondary">by XRPL Labs</small></h6>

      <h3 class="h6 text-primary font-weight-normal">For users</h3>
      <p>
        Interact with the XRP ledger from your smartphone (iOS / Android). Sign transactions and keep 
        your XRP safe by allowing 3rd party applications to send <code>Sign Requests</code> to your mobile device. 
      </p>

      <h3 class="h6 text-primary font-weight-normal">For developers</h3>
      <p>
        Allow your users to sign transactions to your app / platform using a simple redirect flow, without ever 
        sharing their secrets. Push <code>Sign Requests</code> directly to your user's devices.
      </p>
    </div>
  
    <a href="https://xrpl-labs.com" class="btn btn-primary btn-block"><i class="fas fa-caret-square-right"></i> About XRPL Labs</a>
    <p class="mt-5 mb-3 text-muted text-center">&copy; {{ year }} XRPL Labs<br /><small>The Netherlands</small></p>
  </div>
{% endblock %}