{% extends "index.html" %}

{% block button %}
  {# Nada #}
{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3 pt-md-5 pb-md-5">
      <div class="card shadow-sm">
        <div class="card-header bg-secondary text-white">
          <i class="fa fa-exclamation-triangle"></i>
          {{ 'ERROR'|i18n }} (404)
        </div>
        <div class="card-body">
          <p class="text-secondary">
            {{ 'ERROR_404_BODY'|i18n }}
          </p>
          <img src="https://media.giphy.com/media/3fqXc6Z2HRgUE/giphy.gif" class="img-fluid rounded" alt="">
        </div>
      </div>
    </div>
  </div>
{% endblock %}
