{% extends "index.html" %}

{% import "partials/error.html" as _error %}

{# Overall blocks #}

{% block head %}
  <link rel="stylesheet" href="/assets/css/sign_vue.css?{{ uuid }}" crossorigin="anonymous">
{% endblock %}

{% block button %}
  <a href="https://xumm.app" class="shadow-sm btn border-2 border-primary btn-info btn-sm">
    <i class="fas fa-book"></i>
    About
  </a>
{% endblock %}

{% block script %}
  {% if mobile %}
    <!-- No script, showing "please download app" page -->
  {% else %}
    <script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?flags=gated&features=Array.prototype.forEach%2CArray.prototype.reduce%2CArray.prototype.indexOf%2CArray.prototype.map%2CArray.prototype.filter%2CArray.prototype.keys%2CArray.prototype.values%2Cfetch"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-json-pretty@1.6.0/vue-json-pretty.min.js"></script>
    <script src="/assets/js/sign_vue.js?{{ uuid }}"></script>
    <script src="/assets/js/sweetalert.min.js"></script>

    <script src="/assets/js/moment-with-locales.min.js"></script>
    <script src="/assets/js/moment-timezone-with-data.min.js"></script>
    <script>
      window.parseRelativeTime = function () {
        document.querySelectorAll('.ts-moment:not(.parsed)').forEach(function (m) {
          var n = m.innerHTML.trim()
          if (!n.match(/[a-zA-Z\+\-0-9 ]{1,}$/)) n += 'Z'
          var t = moment(n)
          m.setAttribute('class', m.getAttribute('class').trim() + ' parsed')
          m.innerHTML = t.locale('{{ 'LANGUAGE_CODE'|i18n }}').fromNow()
        })
      }
      window.parseRelativeTime()
    </script>
  {% endif %}
{% endblock %}

{% block main %}
  <div class="container">

    {% api "payloadData", uuid %}
      {# <pre>{{ results._signed }}</pre> #}
      {# <pre>{{ results._resolved }}</pre> #}
      {# <pre>{{ results._cancelled }}</pre> #}
      {% if not results %}
        {% set title %}
          <i class="fas fa-ban"></i> {{ 'ERROR'|i18n }}
        {% endset %}
        {% set body %}
          {{ 'PAYLOAD_NOT_FOUND'|i18n }}
        {% endset %}
        {{ _error.render(title, body) }}
      {% elseif results._expired > 0 %}
        {% set title %}
          <i class="fas fa-clock"></i> {{ 'ERROR'|i18n }}
        {% endset %}
        {% set body %}
          {{ 'PAYLOAD_EXPIRED'|i18n }}
        {% endset %}
        {{ _error.render(title, body) }}
      {% elseif results._resolved > 0 %}
        {% set title %}
          <i class="far fa-hand-paper"></i> {{ 'ALREADY_SIGNED'|i18n }}
        {% endset %}
        {% set color %}
          bg-warning text-dark
        {% endset %}
        {% set body %}
          {{ 'PAYLOAD_RESOLVED'|i18n }}
        {% endset %}
        {{ _error.render(title, body, color) }}
      {% elseif results.application_disabled > 0 %}
        {% set title %}
          <i class="fas fa-ban"></i> {{ 'ERROR'|i18n }}
        {% endset %}
        {% set body %}
          {{ 'APPLICATION_DISABLED'|i18n({ appname: results.application_name }) }}
        {% endset %}
        {{ _error.render(title, body) }}
      {% else %}
        {% include "partials/sign-request-body.html" %}
      {% endif %}
    {% error %}
      {% set body %}
        {{ 'PAYLOAD_BACKEND_ERROR'|i18n }}
        {% if trusted %}
          <hr />
          <small class="d-block"><code class="text-muted">Debug info:</code></small>
          <code class="text-danger">{{ error }}</code>
        {% endif %}
      {% endset %}
      {{ _error.render(title, body) }}
    {% endapi %}

  </div>
{% endblock %}
