/* Vue */
[v-cloak] { display: none; }

label {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  cursor: pointer;
}

.fade-enter-active, .fade-leave-active { transition: opacity .2s; }
.fade-enter, .fade-leave-to { opacity: 0; }

html, body {
  font-family: 'Barlow', sans-serif;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.font-logo { font-family: 'Fredoka One'; font-weight: normal;}

.font-900 { font-weight: 900; }
.font-700 { font-weight: 700; }
.font-200 { font-weight: 200; }

a { cursor: pointer; }
